# encoding: UTF-8
<section class="jumbotron">

    <div class="container">

        <div class="left-text col-md-5">

            <div class="text">
                <div>
                    <h2>Un serveur pas commun :</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                        culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                        quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                </div>

                <div>
                    <h2>Un serveur pas commun 1:</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                        culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                        quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                </div>

                <div>
                    <h2>Un serveur pas commun 2:</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                        culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                        quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                </div>
            </div>

            <div class="circle-pag">

                <button class="active"></button>
                <button></button>
                <button></button>

            </div>

        </div>

    </div>

</section>

<section class="infos">

    <div class="container">

        <div class="col-md-4">

            <i class="fa fa-wheelchair-alt fa-4x widget" aria-hidden="true"></i>

            <h2>Une compétition ouverte a tous !</h2>

            <hr/>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                quasi cupiditate. Voluptatum ducimus voluptates voluptas?
            </p>

        </div>
        <div class="col-md-4">

            <i class="fa fa-wheelchair-alt fa-4x widget" aria-hidden="true"></i>

            <h2>Une compétition ouverte a tous !</h2>

            <hr/>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                quasi cupiditate. Voluptatum ducimus voluptates voluptas?
            </p>

        </div>
        <div class="col-md-4">

            <i class="fa fa-wheelchair-alt fa-4x widget" aria-hidden="true"></i>

            <h2>Une compétition ouverte a tous !</h2>

            <hr/>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem
                culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores
                quasi cupiditate. Voluptatum ducimus voluptates voluptas?
            </p>

        </div>

    </div>

</section>