// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* jumbotron */
.jumbotron {
  min-height: 700px;
  background: image-url("wallpaper.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80%;
  margin-bottom: 0 !important;

  .left-text {
    padding-top: 100px;
    .text div{
      display: none;
      h2 {
        font-family: 'Roboto Slab', serif;
        color: darkcyan;
        font-size: 35px;
        position: relative;
        opacity: 0;
        left: -250px;
      }
      p {
        position: relative;
        color: white;
        opacity: 0;
        left: 250px;
      }
      &:nth-child(1){
        display: block;
        p{
          opacity: 100;
          left: 0px;
        }
        h2{
          opacity: 100;
          left: 0px;
        }
      }
    }
    .circle-pag {
      text-align: center;
      padding-top: 10px;
      button{
        display: inline-block;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        background-color: white;
        border: none;
        &:focus {
          outline: none;
        }
      }
      button.active {
        background-color: darkcyan;
      }
    }
  }

}

/* section info */
.infos {
  text-align: center;
  padding: 75px 0;
  .widget{
    padding: 15px;
    color: darkcyan;
    position: relative;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    border: 1px solid darkcyan;
    &:hover {
      -webkit-transform: rotateY(180deg); /* Safari */
      transform: rotateY(180deg);
    }
  }
  hr {
    border-top-color: darkcyan;
    width: 60%;
  }
}