// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Form Register */

form{
  margin-bottom: 100px;
  input{
    width: 100%;
    font-size: 1em;
    padding-left: 7px;
    line-height: 200%;
    margin: 10px auto !important;
    outline: #EFEFEF solid 1px;
    &:focus{
      outline: #009999 solid 2px;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  input[type=submit]{
    width: 100%;
    margin-top: 10px !important;
    background-color: darkcyan !important;
    border: 0 !important;
    outline: 0;
    border-radius: 0;
    &:hover, &:focus, &:active{
      color: white;
      outline-color: #009999 !important;
      border-color: #009999 !important;
    }
  }
  input[type=checkbox]{
    border-radius: 0;
    width: inherit;
    position:relative !important;
    margin: 0;
    outline: 0;
    &:visited, &:active{
      outline: 0;
    }
  }
  a {
    display: block;
    padding: 6px 12px !important;
    border: 0 !important;
    color: white;
    background-color: chocolate !important;
    outline: 0;
    border-radius: 0;
    &:hover, &:focus, &:active {
      color: white;
    }
  }
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    input[type=text], input[type=password], input[type=email] {
      outline: red solid 1px;
      outline-offset: 0;
    }
  }

  .error_right{
    margin-top: 6px;
    color: red;
    display: inline-block;
    vertical-align: middle;
  }
  .alert {
    border-radius: 0;
  }
  .checkbox {
    span {
      margin-left: 10px;
      font-weight: normal;
    }
  }

  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
}