<footer>
    <div class="container">
        <div class="about col-md-4">
            <h2>A propos de nous:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
        </div>
        <div class="contact col-md-4">
            <h2>Nous contacter:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
        </div>
        <div class="social col-md-4">
            <h2>Nos partenaires:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpanesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
        </div>
    </div>
</footer>
<div id="underfooter">
    <div class="container">
        <div class="col-md-6 left">
            <p>Ce serveur n'est pas affilie a Mojang !</p>
        </div>
        <div class="col-md-6 right">
            <p>Site realise par Sacha Petgen.</p>
        </div>
    </div>
</div>